* {margin: 0; padding: 0;}

/* display scrollbar always */
html {
    overflow-y: scroll;
}

#container {
    margin: 0 auto;
    width: 1150px;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;

}

p {
    margin-bottom: 0.8em;
}

body {
    background-color: #666;
    font-size: 13px;
    font-family: Arial, SunSans-Regular, Sans-Serif;
    padding: 0 20px;
    margin: 0;
}

h1 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1em;
}

a {
    color: #ff0000;
    font-size: 11px;
    background-color: transparent;
    text-decoration: none;
}

#content-container {
    float: left;
    width: 1150px;
    background-color: #fff;
    background-image:url('menu.png');
    background-repeat:repeat-y;
}

#menu {
    float: left;
    width: 200px;
}

#main {
    float: right;
    clear: right;
    display: inline;
    width: 923px; /* WTF? */
    padding: 1em;
}

#header
{
    height: 80px;
    background-image:url('FlexGet.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color: #fff;
    background-position: 50% 10px;
}

#footer
{
    clear: left;
    background: #ccc;
    text-align: right;
    height: 1.5em;
    padding: 0.4em;
    margin-bottom: 2em;
}

#flash {
    background: #FEA662;
    padding: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

#flash ul {
    margin-left: 1em;
}

/* search results */

table.search-results {
    border: 0px none gray;
    border-spacing: 1px;
    border-collapse: separate;
	background-color: white;
    width: 100%;
}
table.search-results th {
    border: 0px none gray;
    padding: 3px;
    background-color: #000;
    color: #fff;
    text-align: left;
}
table.search-results td {
    border: 0px none gray;
    padding: 3px;
    background-color: rgb(204, 204, 204);
}
