* {margin: 0; padding: 0;}

/* display scrollbar always */
html {
    overflow-y: scroll;
}

#container {
    margin: 0 auto;
    width: 1150px;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;

}

p {
    margin-bottom: 0.8em;
}

body {
    background-color: #666;
    font-size: 13px;
    font-family: Arial, SunSans-Regular, Sans-Serif;
    padding: 0 20px;
    margin: 0;
}

h1 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1em;
}

a {
    color: #ff0000;
    font-size: 11px;
    background-color: transparent;
    text-decoration: none;
}

#content-container {
    float: left;
    width: 1150px;
    background-color: #fff;
}

#menu {
    float: left;
    width: 200px;
    background-color: #ccc;
}

#main {
    float: right;
    clear: right;
    display: inline;
    width: 923px; /* WTF? */
    padding: 1em;
}

#header
{
    height: 80px;
    background-image:url('FlexGet.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color: #fff;
    background-position: 50% 10px;
}

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	height: 1.5em;
    padding: 0.4em;
    margin-bottom: 2em;
}