* {margin: 0; padding: 0;}

#container {
    margin: 0 auto;
    width: 900px;
}

body {
    background-color: #666;
    font-size: 13px;
    font-family: Arial, SunSans-Regular, Sans-Serif;
    padding: 0 20px;
    margin: 0;
}

h1 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}

a {
    color: #ff0000;
    font-size: 11px;
    background-color: transparent;
    text-decoration: none;
}

#menu {
    position: absolute;
    width: 200px;
    left: 20px;
    background-color: #ccc;
    padding:0;
    margin:0;
}

#main {
    margin-left: 200px;
    background-color: #fff;
    padding: 1em;
}

#header
{
    height: 80px;
    background-image:url('FlexGet2.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color: #fff;
    background-position: 50% 10px;
}