#loading-bar-spinner {
  top: 50%;
  left: 50%;
}

#loading-bar {
  z-index: 1;
  .bar {
    z-index: 1;
    top: 100px;

    @media screen and (min-width: $layout-breakpoint-sm) {
      top: 50px;
    }
  }
}