// Flexget Variables
$header-image: "../assets/images/header.png";

// Colors
$flexget-orange: #FF9800 !default;
$flexget-blue: #0091EA !default;
$flexget-red: #F44336 !default;

$brand-primary: $flexget-orange;


$flexget-background-color: #E6E6E6;
