// Flexget Variables
$header-image: '../assets/images/header.png';

// Colors
$flexget-orange: #ff9800 !default;
$flexget-blue: #0091ea !default;
$flexget-red: #f44336 !default;

$brand-primary: $flexget-orange;

$flexget-background-color: #e6e6e6;
