<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>FlexGet Manager</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" />
    <link rel="stylesheet" href="static/css/flexget.min.css">
    <link href="static/css/splash.css" rel="stylesheet">
    {% assets "plugins_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
</head>

<body layout="column" flex ng-class="menuMini ? 'nav-menu-mini': 'nav-menu-full'">
<style>
    .pg-loading-screen .pg-loading-center-middle {
        vertical-align: top;
    }
    .pg-loading-screen .sk-wave {
        margin: 0 auto;
    }
    .pg-loading-screen .sk-rect {
        margin: 0 3px 0 0;
    }
</style>
<script type="text/javascript" src="static/js/splash.min.js"></script>
<script type="text/javascript">
    window.loading_screen = window.pleaseWait({
        logo: "static/images/header.png",
        backgroundColor: '#FFFFFF',
        loadingHtml: '' +
        '<p class="text-primary text-bold">Loading</p>' +
        '<div class="sk-wave">' +
        '<div class="sk-rect sk-rect1"></div><div class="sk-rect sk-rect2"></div><div class="sk-rect sk-rect3"></div>' +
        '<div class="sk-rect sk-rect4"></div><div class="sk-rect sk-rect5"></div>' +
        '</div>'
    });
</script>

<div class="header">
    <div class="logo"><a href="/ui/#/home"></a></div>
    <tool-bar></tool-bar>
</div>
<div layout="row" flex>
    <side-nav></side-nav>
    <div layout="column" flex id="content">
        <md-content ui-view layout="column" flex layout-padding></md-content>
    </div>
</div>
<script type="text/javascript" src="static/js/vendor.min.js"></script>
<script type="text/javascript" src="static/js/flexget.min.js"></script>
{% assets "plugins_js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
</body>
</html>