<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>FlexGet Manager</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/skin-yellow.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/flexget.css') }}" rel="stylesheet">
    {% block head %}
        {# UI plugin templates can insert content here #}
    {% endblock %}
    <script data-main="/ui/static/js/main.js" src="//marcoslin.github.io/angularAMD/js/lib/requirejs/require.js"></script>
</head>

<body class="skin-yellow sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="/ui/" class="logo"></a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">Menu</li>
                {%- for item in menu recursive -%}
                    <li><a href="{{ item.href }}"><i class="{{ item.icon }}"></i> <span>{{ item.caption }}</span></a></li>
                {% endfor %}
            </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>{% block title %}{% endblock %}</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            {% block main %}
                <div class="main-content" ui-view></div>
            {% endblock %}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        {% block footer %}
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                v{{ version }}
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
        {% endblock %}
    </footer>

</div><!-- ./wrapper -->

</body>
</html>
