<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

        <title>{% block title %}Flexget{% endblock %}</title>

        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flexget.css') }}" type="text/css" media="screen"/>

        {% block head %}
            {# UI plugin templates can insert content here #}
        {% endblock %}
    </head>

    <body>
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
        {% block submenu %}
        {% endblock %}

        <div class="container body">
              {% block main %}{% endblock %}
        </div>

        <div class="container footer">
          {% block footer %}

          {% endblock %}
        </div>

        {# javascripts should be positioned at the bottom of the html since they block other requests #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    </body>
</html>
