<md-sidenav layout="column" class="nav-menu md-sidenav-left md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex>
    <md-content layout="column" flex>
        <md-list>
            <md-list-item ng-repeat="item in ::vm.navItems">
                <md-button ui-sref="{{ ::item.name }}" ng-click="vm.close()" flex>
                    <md-icon class="fa fa-{{ ::item.settings.icon }}"></md-icon>{{ ::item.settings.caption }}
				</md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>