*.iml
*.noseids
*.pyc
*.sqlite
*.swo
*.swp
*.yml
*~
.*
.DS_Store
.coverage
.devcontainer
.idea/
.project
.pydevproject
.settings/
.venv
/*.log*
/.Python
/lib64
FlexGet.egg-info/
Scripts/
bin/
build/
dist/
distribute-*.tar.gz
docs/
flexget/ui/.tmp/
flexget/ui/app/
flexget/ui/bower_components/
flexget/ui/node_modules/
include/
lib/
local
man/
paver-minilib.zip
pip-*.tar.gz
received/
setuptools-*.tar.gz
share/
tests/
tests/cover/
