**/cassettes/** linguist-generated=true
*.bat eol=crlf
*.cmd eol=crlf
*.gz binary
*.jpg binary
*.mkv binary
*.png binary
*.tar binary
docs/requirements.txt linguist-generated=true
requirements.txt linguist-generated=true
