*.iml
*.noseids
*.pyc
*.sqlite
*.swo
*.swp
*~
.DS_Store
.cache/
.config-lock
.coverage
.devcontainer/
.dmypy.json
.idea/
.mypy_cache/
.project
.pydevproject
.pytest_cache
.settings/
.tmp
.tool-versions
.venv
.vscode/
/*.yml
/.Python
/lib64
FlexGet.egg-info/
bin/
build/
cached_resources/
cherrypy
coverage/
crash_report.*.log
dist/
distribute-*.tar.gz
flexget.log
flexget.log.*
flexget/ui/v1/app
include/
lib/
local
man/
paver-minilib.zip
pip-*.tar.gz
pip-selfcheck.json
pip-wheel-metadata
pyvenv.cfg
received/
setuptools-*.tar.gz
share/
tests/cover/
