*.pyc
*.swo
*.swp
.settings/
.project
.pydevproject
/.Python
FlexGet.egg-info/
bin/
Scripts/
include/
lib/
local
.idea/
config.yml
db-config.sqlite
flexget.log
flexget.log.*
received/
share/
dist/
build/
*.sqlite
*.yml
paver-minilib.zip
man/
distribute-*.tar.gz
setuptools-*.tar.gz
pip-*.tar.gz
.DS_Store
/lib64
*.noseids
.coverage
tests/cover/
node_modules/
bower_components/
