*~
*.pyc
*.swo
*.swp
.settings/
.project
.pydevproject
/.Python
FlexGet.egg-info/
bin/
Scripts/
include/
lib/
local
.idea/
*.iml
flexget.log
flexget.log.*
received/
share/
dist/
build/
*.sqlite
paver-minilib.zip
man/
distribute-*.tar.gz
setuptools-*.tar.gz
pip-*.tar.gz
.DS_Store
/lib64
*.noseids
.coverage
tests/cover/
flexget/ui/node_modules/
flexget/ui/bower_components/
flexget/ui/.tmp/
flexget/ui/app/
flexget/ui/coverage/
cherrypy
pip-selfcheck.json
npm-debug.log
.config-lock
.cache/
*.yml
node_modules/
!raw_config.yml
!variables.yml
cached_resources/
pyvenv.cfg
