ci:
  autoupdate_schedule: quarterly
  skip: [ renovate-config-validator,uv-lock ]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.13
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.12
    hooks:
      - id: uv-lock
      - id: uv-export
        args: [ --frozen, --no-hashes, --only-group=docs, --output-file=docs/requirements.txt ]
      - id: uv-export
        args: [ --frozen, --no-dev, --no-emit-project, --no-hashes, --output-file=requirements.txt ]
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 40.10.4
    hooks:
      - id: renovate-config-validator
        args: [ --strict ]
