ci:
  autoupdate_schedule: quarterly
  skip: [ uv-lock ]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.14
    hooks:
      - id: uv-lock
      - id: uv-export
        args: [ --frozen, --no-hashes, --only-group=cloudscraper, --output-file=requirements/cloudscraper.txt ]
      - id: uv-export
        args: [ --frozen, --no-hashes, --only-group=deluge, --output-file=requirements/deluge.txt ]
      - id: uv-export
        args: [ --frozen, --no-dev, --no-emit-project, --no-hashes, --output-file=requirements.txt ]
      - id: uv-export
        args: [ --frozen, --no-hashes, --only-group=qbittorrent, --output-file=requirements/qbittorrent.txt ]
      - id: uv-export
        args: [ --frozen, --no-hashes, --only-group=telegram, --output-file=requirements/telegram.txt ]
      - id: uv-export
        args: [ --frozen, --no-hashes, --only-group=transmission, --output-file=requirements/transmission.txt ]
      - id: uv-export
        args: [ --frozen, --no-hashes, --no-emit-project, --output-file=requirements-dev.txt ]
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 39.91.4
    hooks:
      - id: renovate-config-validator
        args: [ --strict ]
