language: python
cache: pip
sudo: false
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
# Install libyaml for vcr speedup?
addons:
  apt:
    packages:
      - libyaml-dev
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install --upgrade pip
  - pip install .
  - pip install -r dev-requirements.txt
# command to run tests, e.g. python setup.py test
script: py.test --cov -n 3
after_success:
  - coveralls
env: VCR_RECORD_MODE=none
notifications:
  email: false
  webhooks:
    urls:
    - http://n.tkte.ch/h/343/-Sl5O1RgMVaGmIAJDbblXVIc
    - https://webhooks.gitter.im/e/45c2039915b8f75f1956
    on_success: change
    on_failure: always
    on_start: never
