language: python
cache: pip
sudo: false
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
# Install libyaml for vcr speedup?
addons:
  apt:
    packages:
      - libyaml-dev
      - unrar
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install --upgrade pip
  - pip install .
  - pip install -r dev-requirements.txt
  - pip install -r dev-requirements-extras.txt
  - npm install ./flexget/ui  --prefix ./flexget/ui
  - bower install --config.cwd=./flexget/ui
# command to run tests, e.g. python setup.py test
script:
  - py.test --cov flexget --cov-report xml -n 3
  - ./flexget/ui/node_modules/karma/bin/karma start ./flexget/ui/karma.conf.js
after_success:
  - python-codacy-coverage -r coverage.xml
env: VCR_RECORD_MODE=none
notifications:
  email: false
  webhooks:
    urls:
    - http://n.tkte.ch/h/343/-Sl5O1RgMVaGmIAJDbblXVIc
    - https://webhooks.gitter.im/e/45c2039915b8f75f1956
    on_success: change
    on_failure: always
    on_start: never
