appdirs==1.4.4 ; python_version >= "3.7" and python_version < "4.0"
babelfish==0.6.0 ; python_version >= "3.7" and python_version < "4.0"
backports-cached-property==1.0.2 ; python_version == "3.7"
bcrypt==4.0.1 ; python_version >= "3.7" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.7" and python_version < "4.0"
boto3==1.28.40 ; python_version >= "3.7" and python_version < "4.0"
botocore==1.31.40 ; python_version >= "3.7" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.7" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.7" and python_version < "4.0"
chardet==5.2.0 ; python_version >= "3.7" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.7" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.7" and python_version < "4.0" and platform_system == "Windows"
cryptography==41.0.3 ; python_version >= "3.7" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.7" and python_version < "4.0"
dogpile-cache==1.2.2 ; python_version >= "3.7" and python_version < "4.0"
enzyme==0.4.1 ; python_version >= "3.7" and python_version < "4.0"
guessit==3.7.1 ; python_version >= "3.7" and python_version < "4.0"
idna==3.4 ; python_version >= "3.7" and python_version < "4.0"
importlib-metadata==6.7.0 ; python_version >= "3.7" and python_version < "3.8"
importlib-resources==5.12.0 ; python_version >= "3.7" and python_version < "3.9"
jmespath==1.0.1 ; python_version >= "3.7" and python_version < "4.0"
paramiko==3.3.1 ; python_version >= "3.7" and python_version < "4.0"
pbr==5.11.1 ; python_version >= "3.7" and python_version < "4.0"
plexapi==4.14.0 ; python_version >= "3.7" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.7" and python_version < "4.0"
pynacl==1.5.0 ; python_version >= "3.7" and python_version < "4.0"
pysftp==0.2.9 ; python_version >= "3.7" and python_version < "4.0"
pysrt==1.1.2 ; python_version >= "3.7" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.7" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.7" and python_version < "4.0"
rarfile==4.0 ; python_version >= "3.7" and python_version < "4.0"
rebulk==3.2.0 ; python_version >= "3.7" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.7" and python_version < "4.0"
s3transfer==0.6.2 ; python_version >= "3.7" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.7" and python_version < "4.0"
soupsieve==2.4.1 ; python_version >= "3.7" and python_version < "4.0"
stevedore==3.5.2 ; python_version >= "3.7" and python_version < "4.0"
subliminal==2.1.0 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.7" and python_version < "3.11"
urllib3==1.26.16 ; python_version >= "3.7" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.7" and python_version < "3.9"
