click
sphinx
pylint
coverage
flake8
mock
requests~=2.16.3
vcrpy~=1.11.1  # requests 2.16.3 doesn't work with vcrpy <1.11.1
virtualenv
boto3
wheel
pytest>=2.7,!=3.0.2
pytest-capturelog
pytest-xdist
pytest-runner
pytest-cov==2.2.1
gitpython
codacy-coverage>=1.2.18
pip-tools
