click==6.7
sphinx==1.6.2
pylint==1.7.1
coverage==4.4.1
flake8==3.3.0
mock==2.0.0
requests==2.17.3
vcrpy~=1.11.1  # requests 2.16.3 doesn't work with vcrpy <1.11.1
virtualenv==15.1.0
boto3
wheel
pytest>=2.7,!=3.0.2
pytest-capturelog
pytest-xdist
pytest-runner
pytest-cov==2.2.1
gitpython
codacy-coverage>=1.2.18
pip-tools
