-c requirements.txt
black>=18.9b0
boto3
click>=8.0.0
codacy-coverage>=1.2.18
coverage~=6.0, <=6.2  # After 6.2 requires python 3.7+
gitpython~=3.1.18, <3.1.24  # Starting with 3.1.24, python 3.7 is required
isort>=5.5.1
pip-tools~=6.4.0
pre-commit>=2.9.0
pylint>=2.6.0  # pylint < 2.6 doesn't work with isort5
pytest-cov~=3.0.0
pytest-runner
pytest-xdist~=2.5.0
pytest~=6.2.4
sphinx~=4.3.0
sqlalchemy-stubs
twine~=3.6.0
vcrpy~=4.1.1  # requests 2.16.3 doesn't work with vcrpy <1.11.1
wheel~=0.37.0
