## Build settings
[project]
name = "FlexGet"
description = """\
    FlexGet is a program aimed to automate downloading or processing content (torrents, podcasts, etc.) from \
    different sources like RSS-feeds, html-pages, various sites and more.\
"""
readme = "README.rst"
requires-python = ">=3.9"
authors = [
    { name = "Marko Koivusalo", email = "marko.koivusalo@gmail.com" },
    { name = "Chase Sterling", email = "chase.sterling@gmail.com" },
]
license = { file = "LICENSE" }
dynamic = ["version", "optional-dependencies"]
dependencies = [
    "apscheduler ~=3.11",
    "beautifulsoup4 ~=4.12",
    "colorama ~=0.4.6",
    "feedparser ~=6.0",
    "guessit ~=3.8",
    "html5lib ~=1.1",
    "importlib-metadata ~=8.5; python_version <'3.10'", # TODO: remove this after we drop python3.9
    "jinja2 ~=3.1",
    "jsonschema ~=4.23",
    "loguru ~=0.7.3",
    "packaging ~=24.2",
    "pendulum ~=3.0",
    "psutil ~=6.1",
    "pynzb ~=0.1.0",
    "pyrss2gen ~=1.1",
    "python-dateutil ~=2.9",
    "pyyaml ~=6.0",
    "rebulk ~=3.2",
    "requests ~=2.32",
    "rich ~=13.9",
    "rpyc ~=6.0",
    "sqlalchemy ~=2.0",
    # TODO: urllib3 >=2 has changes that require vcr cassettes to be upgraded. Requirements of some of our deps (boto?)
    # require urllib3 <2 on python < 3.10. In order to not be running different versions of urllib on different
    # versions of python, this is pinned in our deps. This can be removed completely if the issue gets solved.
    # https://github.com/kevin1024/vcrpy/issues/719
    "urllib3 ~=1.26",
    # WebUI/API Deps
    "cherrypy ~=18.10",
    "flask-compress ~=1.17",
    "flask-cors ~=5.0",
    "flask-login ~=0.6.3",
    "flask-restx ~=1.3",
    "flask ~=3.1",
    "pyparsing ~=3.2",
    "werkzeug ~=3.1",
    "zxcvbn ~=4.4",
]
[dependency-groups]
dev = [
    "codacy-coverage ~=1.3",
    "coverage ~=7.6",
    "pre-commit ~=4.0",
    "pytest ~=8.3",
    "pytest-cov ~=6.0",
    "pytest-runner ~=6.0",
    "pytest-xdist ~=3.6",
    "ruff ~=0.9.0",
    "vcrpy ~=7.0",
]
docs = [
    # TODO: remove python_version after we drop python 3.9
    "sphinx ~=8.1; python_version >= '3.10'"
]
plugin-test = [
    # These are optional dependencies for plugins that have tests in the test suite
    "boto3 ~=1.35",
    "plexapi ~=4.16",
    "pysftp ~=0.2.9",
    "subliminal ~= 2.1",
]
deluge = ['deluge-client~=1.10']
qbittorrent = ['qbittorrent-api~=2024.12']
telegram = ['python-telegram-bot[http2,socks]~=21.9']
transmission = ['transmission-rpc~=7.0']
[project.urls]
"Homepage" = "https://flexget.com"
"Issue Tracker" = "https://github.com/Flexget/Flexget/issues"
"Repository" = "https://github.com/Flexget/Flexget"
"Forum" = "https://github.com/Flexget/Flexget/discussions"

[project.scripts]
flexget = "flexget:main"

[project.gui-scripts]
flexget-headless = "flexget:main"  # This is useful on Windows to avoid a cmd popup

[build-system]
requires = ["hatchling", "hatch-requirements-txt"]
build-backend = "hatchling.build"

[tool.hatch.metadata.hooks.requirements_txt.optional-dependencies]
deluge = ['requirements/deluge.txt']
locked = ['requirements.txt']
qbittorrent = ['requirements/qbittorrent.txt']
telegram = ['requirements/telegram.txt']
transmission = ['requirements/transmission.txt']
all = ['requirements/deluge.txt', 'requirements/qbittorrent.txt', 'requirements/telegram.txt', 'requirements/transmission.txt']

[tool.hatch.version]
path = "flexget/_version.py"

[tool.hatch.build]
skip-excluded-dirs = true

[tool.hatch.build.targets.sdist]
include = [
    "/flexget",
    "/*.py"
]
# Cassettes will take up all our room on pypi faster
exclude = ["/flexget/tests/cassettes"]

[tool.hatch.build.targets.wheel.hooks.custom]
# build with env variable HATCH_BUILD_HOOKS_ENABLE=true to bundle the webui when building
enable-by-default = false
path = "bundle_webui.py"

[tool.hatch.build.targets.wheel]
include = [
    "/flexget"
]
exclude = ["/flexget/tests"]

## Other tool settings

[tool.pytest.ini_options]
addopts = '-p no:legacypath'
testpaths = ["flexget/tests"]

[tool.ruff]
line-length = 99
extend-exclude = ["flexget/ui"]

[tool.ruff.lint]
select = ["C4", "E", "F", "I", "ISC", "PGH", "PLE", "RET", "RUF", "SIM", "TCH", "UP", "W"]
ignore = [
    "E501", # TODO: enable this rule (requires a lot of manual work)
    "PLE1205", # Maybe can re-enable after https://github.com/astral-sh/ruff/issues/13390
    "RUF012", # Maybe can re-enable after https://github.com/astral-sh/ruff/issues/5243
]

[tool.ruff.lint.isort]
known-first-party = ['flexget']

[tool.ruff.format]
quote-style = "preserve"
