[build-system]
requires = ["setuptools", "wheel"]

[tool.black]
line-length = 99
skip-string-normalization = true
target-version = ['py36', 'py37', 'py38', 'py39', 'py310']
# Only include files in /flexget/, or directly in project root
include = '^/(flexget/.*)?[^/]*\.pyi?$'
exclude = '''
(
  /(
      \.git
    | \.venv
    | \.idea
    | dist
    | flexget/ui
  )/
)
'''

[tool.isort]
profile = 'black'
line_length = 99
known_first_party = ['flexget']
