bleach==6.0.0 ; python_version >= "3.7" and python_version < "4.0"
build==1.0.0 ; python_version >= "3.7" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.7" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "linux"
charset-normalizer==3.2.0 ; python_version >= "3.7" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.7" and python_version < "4.0" and (os_name == "nt" or platform_system == "Windows")
cryptography==41.0.3 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "linux"
docutils==0.19 ; python_version >= "3.7" and python_version < "4.0"
idna==3.4 ; python_version >= "3.7" and python_version < "4.0"
importlib-metadata==6.7.0 ; python_version >= "3.7" and python_version < "4.0"
importlib-resources==5.12.0 ; python_version >= "3.7" and python_version < "3.9"
jaraco-classes==3.2.3 ; python_version >= "3.7" and python_version < "4.0"
jeepney==0.8.0 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "linux"
keyring==24.1.1 ; python_version >= "3.7" and python_version < "4.0"
markdown-it-py==2.2.0 ; python_version >= "3.7" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.7" and python_version < "4.0"
more-itertools==9.1.0 ; python_version >= "3.7" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.7" and python_version < "4.0"
pkginfo==1.9.6 ; python_version >= "3.7" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "linux"
pygments==2.16.1 ; python_version >= "3.7" and python_version < "4.0"
pyproject-hooks==1.0.0 ; python_version >= "3.7" and python_version < "4.0"
pywin32-ctypes==0.2.2 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32"
readme-renderer==37.3 ; python_version >= "3.7" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.7" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.7" and python_version < "4.0"
rfc3986==2.0.0 ; python_version >= "3.7" and python_version < "4.0"
rich==13.5.2 ; python_version >= "3.7" and python_version < "4.0"
secretstorage==3.3.3 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "linux"
six==1.16.0 ; python_version >= "3.7" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.7" and python_version < "3.11"
twine==4.0.2 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.7" and python_version < "3.9"
urllib3==1.26.16 ; python_version >= "3.7" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.7" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.7" and python_version < "4.0"
