<md-dialog>
    <md-dialog-content>
        <h2>{{ vm.title }}</h2>
        <div layout="row" layout-align="center center">
            <p ng-if="content">{{ vm.content }}</p>
            <md-progress-circular ng-if="vm.showCircular" md-diameter="30" class="md-primary" md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-dialog-content>
    <md-dialog-actions ng-if="vm.ok || vm.cancel">
        <md-button ng-if="vm.cancel" ng-click="vm.abort()" class="md-primary">
            {{ vm.cancel }}
        </md-button>
        <md-button ng-if="vm.ok" ng-click="vm.hide()" class="md-primary">
            {{ vm.ok }}
        </md-button>
    </md-dialog-actions>
</md-dialog>