<div class="login" layout="column" layout-padding>
    <div class="header"></div>
    <div>
        <form>
            <div layout="column" flex-gt-sm="40" flex-offset-gt-sm="30" flex-gt-md="30" flex-offset-gt-md="35">
                <p style="color: orange" class="text-success text-center" ng-if="vm.timeout == 'true'">Your session timed out</p>

                <p style="color: red">{{ vm.error }}</p>
                <md-input-container flex>
                    <label>Username</label>
                    <input id="username" ng-model="vm.credentials.username">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="vm.credentials.password" type="password">
                </md-input-container>
                <div layout="column" layout-align="center center">
                    <md-checkbox md-no-ink aria-label="Remember Me" ng-model="vm.remember" class="md-primary">Remember Me</md-checkbox>
                </div>
                <md-button type="submit" class="md-raised md-primary" data-ng-click="vm.login()">Login</md-button>
            </div>
        </form>
    </div>
</div>