<div class="login" layout="column" layout-align="center center">
    <div class="header"></div>
    <div flex>
        <p style="color: orange" class="text-success text-center" ng-if="timeout == 'true'">Your session timed out</p>

        <p style="color: red">{{ error }}</p>

        <form>
            <md-content layout="column" layout-align="center center">
                <md-input-container>
                    <label>Username</label>
                    <input id="username" ng-model="credentials.username">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="credentials.password" type="password">
                </md-input-container>
                <md-input-container>
                    <md-checkbox md-no-ink aria-label="Remember Me" ng-model="remember" class="md-primary">Remember Me</md-checkbox>
                </md-input-container>
                <md-input-container>
                    <md-button class="md-raised md-primary" data-ng-click="login()">Login</md-button>
                </md-input-container>
            </md-content>
        </form>
    </div>
</div>