<div class="login" layout="column" layout-align="center">
    <div class="header"></div>
    <md-content layout-padding>
        <form name="loginForm">
            <div layout="column" layout-align="center" 
                flex-xs="100" flex-offset-xs="0"
                flex-sm="70" flex-offset-sm="15"
                flex-md="50" flex-offset-md="25"
                flex-gt-md="30" flex-offset-gt-md="35">
                <p style="color: orange" class="text-success text-center" ng-if="vm.timeout == 'true'">Your session timed out</p>

                <p style="color: red">{{ vm.error }}</p>
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input id="username" ng-model="vm.credentials.username">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input id="password" ng-model="vm.credentials.password" type="password">
                </md-input-container>
                <div layout="column" layout-align="center center">
                    <md-checkbox md-no-ink aria-label="Remember Me" ng-model="vm.remember" class="md-primary">Remember Me</md-checkbox>
                </div>
                <md-button type="submit" class="md-raised md-primary" data-ng-click="vm.login()">Login</md-button>
            </div>
        </form>
    </md-content>
</div>