<md-content layout-xs="column" layout="row" flex>
    <div layout="column" flex flex-gt-sm="50" flex-offset-gt-sm="25">
        <md-card>
            <md-card-header palette-background="orange:600">
                <md-card-header-text>
                    <span class="md-title">Flexget Web Interface</span>
                    <span class="md-subhead">Under Development</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    <b>We need your help! If you are an AngularJS developer or can help with the layout/design/css then please join in the effort!</b>
                </p>
                <p>
                    The interface is not yet ready for end users. Consider this preview only state.
                </p>

                <p>
                    If you still use it anyways, please do report back to us how well it works, issues, ideas etc..
                </p>


                <p>
                    There is a functional API with documentation available at <a href="api">/api</a>
                </p>

                <p>More information: <a href="http://flexget.com/wiki/Web-UI" target="_blank">http://flexget.com/wiki/Web-UI</a></p>
                <p>Gitter Chat: <a href="https://gitter.im/Flexget/Flexget" target="_blank">https://gitter.im/Flexget/Flexget</a></p>
                <div layout="row" layout-align="center center">
                    <md-button class="md-icon-button" aria-label="GitHub" href="http://github.com/Flexget/Flexget" target="_blank">
                        <md-icon class="md-icon fa fa-github md-headline"></md-icon>
                        <md-tooltip>GitHub</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Flexget.com" href="http://flexget.com" target="_blank">
                        <md-icon class="md-icon fa fa-home md-headline"></md-icon>
                        <md-tooltip>Wiki</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Flexget.com" href="https://gitter.im/Flexget/Flexget" target="_blank">
                        <md-icon class="md-icon fa fa-comment md-headline"></md-icon>
                        <md-tooltip>Chat</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Forum" href="http://discuss.flexget.com/" target="_blank">
                        <md-icon class="md-icon fa fa-forumbee md-headline"></md-icon>
                        <md-tooltip>Forum</md-tooltip>
                    </md-button>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>