interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apibay.org/precompiled/data_top100_all.json
  response:
    body:
      string: '[{"id":30626657,"info_hash":"FF02281C4D7B55D6E498C457BD94362AAE189E7D","category":301,"name":"Rhinoceros
        v6.13.19058.00371 (x64) + Crack {B4tman}","status":"trusted","num_files":4,"size":288632265,"seeders":8634,"leechers":5691,"username":"Ali-TPB","added":1552376683,"anon":0,"imdb":null},{"id":81875234,"info_hash":"BD9FE5F92BE9246652161F939649F3B97363092D","category":208,"name":"Fallout
        2024 S02E06 1080p WEB h264-ETHEL","status":"vip","num_files":0,"size":3331809366,"seeders":9880,"leechers":3603,"username":"jajaja","added":1768984502,"anon":0,"imdb":"tt12637874"},{"id":30636040,"info_hash":"66CBC985E53E18341127277E9B7EDA13BA4EE230","category":301,"name":"BurnAware
        Professional 12.1 FULL [TechTools]","status":"vip","num_files":8,"size":11991861,"seeders":72[...]
