interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.github.com/repos/fribb/anime-lists/contents/anime-list-mini.json
    response:
      body:
        string: '{"name":"anime-list-mini.json","path":"anime-list-mini.json","sha":"5729f2b6cd99790335c1447f2749c8a5d88ad07f","size":5666055,"url":"https://api.github.com/repos/Fribb/anime-lists/contents/anime-list-mini.json?ref=master","html_url":"https://github.com/Fribb/anime-lists/blob/master/anime-list-mini.json","git_url":"https://api.github.com/repos/Fribb/anime-lists/git/blobs/5729f2b6cd99790335c1447f2749c8a5d88ad07f","download_url":"https://raw.githubusercontent.com/Fribb/anime-lists/master/anime-list-mini.json","type":"file","content":"","encoding":"none","_links":{"self":"https://api.github.com/repos/Fribb/anime-lists/contents/anime-list-mini.json?ref=master","git":"https://api.github.com/repos/Fribb/anime-lists/git/blobs/5729f2b6cd99790335c1447f2749c8a5d88ad07f","html":"https://github.com/Fribb/anime-lists/blob/master/anime-list-mini.json"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        ETag:
          - '"5729f2b6cd99790335c1447f2749c8a5d88ad07f"'
        Last-Modified:
          - Tue, 21 Apr 2026 15:53:18 GMT
        X-GitHub-Media-Type:
          - github.v3; format=json
        X-RateLimit-Limit:
          - '60'
        X-RateLimit-Remaining:
          - '58'
        X-RateLimit-Reset:
          - '1776926395'
        X-RateLimit-Resource:
          - core
        X-RateLimit-Used:
          - '2'
        x-github-api-version-selected:
          - '2022-11-28'
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.github.com/repos/Anime-Lists/anime-lists/contents/anime-list.xml
    response:
      body:
        string: '{"name":"anime-list.xml","path":"anime-list.xml","sha":"eb52ebe640cafa8aa452e1b9797ec21b0c8a3fc8","size":1680543,"url":"https://api.github.com/repos/Anime-Lists/anime-lists/contents/anime-list.xml?ref=master","html_url":"https://github.com/Anime-Lists/anime-lists/blob/master/anime-list.xml","git_url":"htt[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://raw.githubusercontent.com/Fribb/anime-lists/master/anime-list-mini.json
    response:
      body:
        string: '[{"type":"TV","anidb_id":1,"anilist_id":290,"animecountdown_id":36462,"animenewsnetwork_id":14,"anime-planet_id":"crest-of-the-stars","anisearch_id":3039,"imdb_id":"tt0286390","kitsu_id":265,"livechart_id":4157,"mal_id":290,"simkl_id":36462,"themoviedb_id":26209,"tvdb_id":72025,"season":{"tvdb":1,"tmdb":1}},{"type":"OVA","anidb_id":2,"anilist_id":300,"animecountdown_id":38433,"animenewsnetwork_id":382,"anime-planet_id":"3x3-eyes","anisearch_id":2747,"kitsu_id":7749,"livechart_id":5777,"mal_id":300,"simkl_id":38433,"themoviedb_id":62913,"tvdb_id":70973,"season":{"tvdb":1,"tmdb":1}},{"type":"OVA","anidb_id":3,"anilist_id":1225,"animecountdown_id":40976,"animenewsnetwork_id":792,"anime-planet_id":"3x3-eyes-seima-densetsu","anisearch_id":3354,"kitsu_id":1102,"livechart_id":6605,"mal_id":1225,"simkl[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://raw.githubusercontent.com/Anime-Lists/anime-lists/master/anime-list.xml
    response:
      body:
        string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<anime-list>\n  <anime
          anidbid=\"1\" tvdbid=\"72025\" defaulttvdbseason=\"1\" tmdbtv=\"26209\" tmdbseason=\"1\">\n
          \   <name>Seikai no Monshou</name>\n    <supplemental-info>\n      <studio>Sunrise</studio>\n
          \   </supplemental-info>\n  </anime>\n  <anime anidbid=\"2\" tvdbid=\"70973\"
          defaulttvdbseason=\"1\" tmdbtv=\"62913\" tmdbseason=\"1\">\n    <name>3x3
          Eyes</name>\n  </anime>\n  <anime anidbid=\"14792\"
          tvdbid=\"305089\" defaulttvdbseason=\"2\" tmdbtv=\"65942\" tmdbseason=\"1\"
          tmdboffset=\"26\">\n    <name>Re:Zero kara Hajimeru Isekai Seikatsu (2020)</name>\n
          \   <mapping-list>\n      <mapping anidbseason=\"0\" tvdbseason=\"0\" start=\"1\"
          end=\"13\" offset=\"29\"/>\n    </mapping-list>\n  </anime>\n  <anime anidbid=\"14794\"
          tvdbid=\"354636\" defaulttvdbseason=\"0\" tmdbtv=\"83454\" tmdbseason=\"0\">\n
          \   <name>Kouya no Kotobuki Hikoutai Gaiden: Oozora no Harukaze Hikoutai</name>\n
          \ </anime>\n  <anime anidbid=\"14795\" tvdbid=\"368553\" defaulttvdbseason=\"1\"
          tmdbtv=\"94294\" tmdbseason=\"1\">\n    <name>Africa no Salaryman (2019)</name>\n
          \ </anime>\n  <anime anidbid=\"14796\" tvdbid=\"259640\" defaulttvdbseason=\"4\"
          tmdbtv=\"45782\" tmdbseason=\"4\">\n    <name>Sword Art Online: Alicization
          - War of Underworld</name>\n    <mapping-list>\n      <mapping anidbseason=\"0\"
          tvdbseason=\"0\">;1-26;</mapping>\n    </mapping-list>\n  </anime>\n  <anime
          anidbid=\"14797\" tvdbid=\"313435\" defaulttvdbseason=\"0\" episodeoffset=\"2\"
          tmdbtv=\"67676\" tmdbseason=\"0\" tmdboffset=\"2\">\n    <name>Saiki Kusuo
          no Sainan: Saishidou Hen</name>\n  </anime>\n</anime-list>\n"
      headers:
        Content-Type:
          - text/plain; charset=utf-8
        ETag:
          - W/"0ba10dde3279d2d93db960d8a1cd9fa392122e35cdcba5ee8c7c6408fd6fa3e6"
        Source-Age:
          - '0'
        X-Fastly-Request-ID:
          - 5403becdc073549c245daa41e273da84cf6bfb35
      status:
        code: 200
        message: OK
version: 1
