interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apibay.org/q.php?q=user%3Ametheguy
  response:
    body:
      string: '[{"id":"81813698","name":"McLeod''s Daughters (2001) Season 1-8 S01-S08
        (1080p AMZN WEB-DL x265","info_hash":"FF83739B4871C5EA7E24917B3EE165B130A05750","leechers":"19","seeders":"7","size":"281363602563","num_files":"224","username":"metheguy","added":"1768489453","status":"trusted","category":"208","imdb":""},{"id":"81793219","name":"winux-11.25.12-noble-lts.iso","info_hash":"77332749600A5A0C603C8FBBFCD40F77C1E18006","leechers":"0","seeders":"32","size":"6197538816","num_files":"1","username":"metheguy","added":"1768327947","status":"trusted","category":"303","imdb":""},{"id":"81714351","name":"Jack
        El-Hai - The Nazi and the Psychiatrist","info_hash":"C5BCE1E315CA145051922A272CE6A30B8FC4E2DF","leechers":"3","seeders":"18","size":"255567684","num_files":"4","username":"metheguy","added":"1[...]
