interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apibay.org/precompiled/data_top100_207.json
  response:
    body:
      string: '[{"id":81589954,"info_hash":"D745D479E6CD56D5F7DDB2F35970EF7FE1311788","category":207,"name":"Zootopia
        2 2025 1080p Multi READNFO HEVC x265-RMTeam","status":"vip","num_files":1,"size":1815772220,"seeders":5205,"leechers":3346,"username":".BONE.","added":1766677100,"anon":0,"imdb":"tt26443597"},{"id":81193464,"info_hash":"74FA03EB883C54727E555DC24782E175477F6513","category":207,"name":"One
        Battle After Another (2025) [1080p] [WEBRip] [5.1] ","status":"vip","num_files":4,"size":3214028597,"seeders":4948,"leechers":958,"username":"surferbroadband","added":1763374477,"anon":0,"imdb":"tt30144839"},{"id":81859808,"info_hash":"81931BE5143968C6A996914576C2FD1C7953E12D","category":207,"name":"The
        Rip (2026) [1080p] [WEBRip] [5.1] ","status":"vip","num_files":43,"s[...]
