interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apibay.org/precompiled/data_top100_48h_207.json
  response:
    body:
      string: '[{"id":81895259,"info_hash":"6928928B4406FA78EFF355B000954482EE730C52","category":207,"name":"Cheekatilo
        (2026) TRUE WEB-DL - 1080p - AVC - [Tam + Tel + Hin] - DD+5.1 - 640K","status":"vip","num_files":1,"size":5276593250,"seeders":259,"leechers":233,"username":"HolyRoses","added":1769144109,"anon":0,"imdb":"tt31852038"},{"id":81891432,"info_hash":"46A52EF387EEDEC6335EF07B063D45754B38CD2E","category":207,"name":"How
        to Lose Friends and Alienate People 2008 1080p BluRay HEVC x265 5.1 BONE","status":"vip","num_files":1,"size":1655301563,"seeders":256,"leechers":100,"username":".BONE.","added":1769113552,"anon":0,"imdb":"tt0455538"},{"id":81891433,"info_hash":"CB0CCF8B35FF39555EB5C6A062D2CCF7F5505BEC","category":207,"name":"Oppenheimer
        2023 V3 BluRay Remux AVC 1080p DTS-HDMA5.1-DreamHD[...]
