interactions:
- request:
    body: login=flexget_flexget&password=flexget_flexget&rememberMe=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Version:
      - 4.17.1
    method: POST
    uri: https://plex.tv/api/v2/users/signin
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<user id=\"187797645\"
        uuid=\"d0df38378404ccb3\" username=\"flexget_flexget\" title=\"flexget_flexget\"
        email=\"polka_gill0i@icloud.com\" friendlyName=\"\" locale=\"\" confirmed=\"0\"
        joinedAt=\"1670500095\" emailOnlyAuth=\"0\" hasPassword=\"1\" protected=\"0\"
        thumb=\"https://plex.tv/users/d0df38378404ccb3/avatar?c=1759202149\" authToken=\"8VgBunj8cdzGEakte7qH\"
        mailingListStatus=\"unsubscribed\" mailingListActive=\"0\" scrobbleTypes=\"\"
        country=\"US\" restricted=\"0\" anonymous=\"0\" home=\"0\" guest=\"0\" homeSize=\"1\"
        homeAdmin=\"0\" maxHomeSize=\"15\" rememberExpiresAt=\"1760411749\" adsConsent=\"\"
        adsConsentSetAt=\"\" adsConsentReminderAt=\"\" experimentalFeatures=\"0\"
        twoFactorEnabled=\"0\" backupCodesCreated=\"0\" attributionPartner=\"\">\n
        \ <subscription active=\"0\" subscribedAt=\"\" status=\"Inactive\" paymentService=\"\"
        plan=\"\">\n    <features>\n      <feature id=\"guided-upgrade\"/>\n      <feature
        id=\"increase-password-complexity\"/>\n      <feature id=\"upgrade-3ds2\"/>\n
        \     <feature id=\"ad-countdown-timer\"/>\n      <feature id=\"adaptive_bitrate\"/>\n
        \     <feature id=\"amazon-loop-debug\"/>\n      <feature id=\"Android - Dolby
        Vision\"/>\n      <feature id=\"Android - PiP\"/>\n      <feature id=\"avod-ad-analysis\"/>\n
        \     <feature id=\"avod-new-media\"/>\n      <feature id=\"blacklist_get_signin\"[...]
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - 8VgBunj8cdzGEakte7qH
      X-Plex-Version:
      - 4.17.1
    method: GET
    uri: https://discover.provider.plex.tv/library/search?query=Amsterdam+%282022%29&limit=30&searchTypes=movies%2Ctv&searchProviders=discover&includeMetadata=1
  response:
    body:
      string: '{"MediaContainer":{"suggestedTerms":[],"identifier":"tv.plex.provider.discover","size":1,"SearchResults":[{"id":"external","title":"More
        Ways To Watch","size":30,"SearchResult":[{"Metadata":{"addedAt":1664928000,"art":"https://metadata-static.plex.tv/2/gracenote/2d905c6b1a8f1ba192a832769d8bc135.jpg","duration":8040000,"guid":"plex://movie/5f408f6602101b004004429f","key":"/library/metadata/5f408f6602101b004004429f","originallyAvailableAt":"2022-10-05","ratingKey":"5f408f6602101b004004429f","slug":"amsterdam-2022","thumb":"https://metadata-static.plex.tv/d/gracenote/d54098db69d6b002fa4e4882be927895.jpg","title":"Amsterdam","type":"movie","year":2022,"Genre":[{"filter":"genre=5d9c046c705e7a001e6c8d99","id":"5d9c046c705e7a001e6c8d99","key":"/library/categories/comedy","ratingKey":"genre_5d9c046c705e7a001e6c8d99","slug":"comedy","tag":"Comedy","type":"hub","context":"tag.genre"},{"filter":"genre=5d9c046c705e7a001e6c8d9a","id":"5d9c046c705e7a001e6c8d9a","key":"/library/categories/drama","ratingKey":"genre_5d9c046c705e7a001e6c8d9a","slug":"drama","tag":"Drama","type":"hub","context":"tag.genre"},{"filter":"genre=5da05bf5af32ed001e0f5563","id":"5da05bf5af32ed001e0f5563","key":"/library/categories/history","ratingKey":"genre_5da05bf5af32ed001e0f5563","slug":"history","tag":"History","type":"hub","context":"tag.genre"},{"filter":"genre=5d9c046c705e7a001e6c8d9e","id":"5d9c046c705e7a001e6c8d9e","key":"/library/categories/mystery","ratingKey":"genre_5d9c046c705e7a001e6c8d9e","slug":"mystery","tag":"Mystery","type":"hub","context":"tag.genre"},{"filter":"genre=5d9c046c2192ba001f2ff6c5","id":"5d9c046c2192ba001f2ff6c5","key":"/library/categories/thriller","ratingKey":"genre_5d9c046c2192ba001f2ff6c5","slug":"thriller","tag":"Thriller","type":"hub","context":"tag.genre"}],"source":"provider://tv.plex.provider.discover"},"score":0.3},{"Metadata":{"addedAt":1244505600,"art":"https://artworks.thetvdb.com/banners/movies/78293/backgrounds/78293.jpg","duration":5100000,"guid":"plex://movie/5d776850103a2d001f56d35c","key":"/library/metadata/5d776850103a2d001f56d35c","originallyAvailableAt":"2009-06-09","ratingKey":"5d776850103a2d001f56d35c","slug":"amsterdam","subtype":"video","thumb":"https://image.tmdb.org/t/p/original/fglFfcZOyVBp6x1NSyYYvFMf1G7.jpg","title":"Amsterdam","type":"movie","year":2009,"Genre":[{"filter":"genre=5d9c046c705e7a001e6c8d9a","id":"5d9c046c705e7a001e6c8d9a","key":"/library/categories/drama","ratingKey":"genre_5d9c046c705e7a001e6c8d9a","slug":"drama","tag":"Drama","type":"hub","context":"tag.genre"},{"filter":"genre=5d9c046c08fddd001f28ab90","id":"5d9c046c08fddd001f28ab90","key":"/library/categories/crime","ratingKey":"genre_5d9c046c08f[...]
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - 8VgBunj8cdzGEakte7qH
      X-Plex-Version:
      - 4.17.1
    method: GET
    uri: https://metadata.provider.plex.tv/
  response:
    body:
      string: <?xml version="1.0"?><MediaProvider icon="https://provider-static.plex.tv/icons/metadata-560.svg"
        identifier="tv.plex.provider.metadata" protocols="stream" title="Metadata"
        version="3.0.0"><Feature type="metadata" key="/library/metadata"/><Feature
        type="actions"><Action id="rate" key="/actions/rate"/><Action id="scrobble"
        key="/actions/scrobble" reverseKey="/actions/unscrobble"/></Feature><Feature
        type="collection" key="/library/collections"/><Feature type="location" key="/location"/><Feature
        type="markers" key="/markers"/><Feature public="1" type="imagetranscoder"
        key="https://images.plex.tv/photo"/><Feature type="match" key="/library/metadata/matches"/></MediaProvider>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - W/"2a7-+B1mSX9Eu5OciwIVieVXqJ7dmz8"
      Origin-Agent-Cluster:
      - ?1
      X-Plex-Timestamp:
      - '1758999498'
      X-Plex-Version:
      - c34861e1e7c5a4ead3754f9f1a083c760b4dc40a
      X-Response-Time:
      - '3.821'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - 8VgBu[...]
[...]
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - 8VgBunj8cdzGEakte7qH
      X-Plex-Version:
      - 4.17.1
    method: GET
    uri: https://metadata.provider.plex.tv/library/metadata/5d776a7e7a53e9001e706c9f?includeBandwidths=1&includeChapters=1&includeGeolocation=1&includeLoudnessRamps=1&includeMarkers=1&includeUserState=1
  response:
    body:
      string: "<?xml version=\"1.0\"?><MediaContainer librarySectionID=\"home\" librarySectionTitle=\"Metadata\"
        offset=\"0\" totalSize=\"1\" identifier=\"tv.plex.provider.metadata\" size=\"1\"><Video
        guid=\"plex://movie/5d776a7e7a53e9001e706c9f\" key=\"/library/metadata/5d776a7e7a53e9001e706c9f\"
        ratingKey=\"5d776a7e7a53e9001e706c9f\" studio=\"IJswater Films\" summary=\"The
        somewhat na\xEFve teenager Alex Meulenaers leaves his hometown, to go study
        economics in Amsterdam. He is the first of his family to leave Limburg. However,
        faith has something else in store for him. The movie shows us how Alex sees
        Amsterdam: sometimes threathening, sometimes absurd and always with wonder.\"
        type=\"movie\" thumb=\"https://image.tmdb.org/t/p/original/1Mp2wV7LtUwrVt7oxdtnEXYsahU.jpg\"
        addedAt=\"1255651200\" duration=\"2400000\" publicPagesURL=\"https://watch.plex.tv/movie/alex-in-amsterdam\"
        slug=\"alex-in-amsterdam\" viewCount=\"0\" viewOffset=\"0\" title=\"Alex in
        Amsterdam\" originallyAvailableAt=\"2009-10-16\" year=\"2009\" audienceRating=\"6.5\"
        audienceRatingImage=\"imdb:/[...]
[...]
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - 8VgBunj8cdzGEakte7qH
      X-Plex-Version:
      - 4.17.1
    method: GET
    uri: https://metadata.provider.plex.tv/library/metadata/5f408f6602101b004004429f/userState
  response:
    body:
      string: <?xml version="1.0"?><MediaContainer identifier="tv.plex.provider.metadata"
        size="1"><UserState watchlistedAt="1759195318" viewCount="0" viewOffset="0"
        ratingKey="5f408f6602101b004004429f" type="movie"/></MediaContainer>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - W/"dc-+/eRWlWqBDwHH2bpxleuRCkEPww"
      Origin-Agent-Cluster:
      - ?1
      X-Plex-Container-Start:
      - '0'
      X-Plex-Container-Total-Size:
      - '1'
      X-Plex-Timestamp:
      - '1759202159'
      X-Plex-Version:
      - 51533c39fed0360efd3fc9f6629df0dc65a6db14
      X-Response-Time:
      - '88.310'
      x-plex-cache:
      - miss
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - 8VgBunj8cdzGEakte7qH
      X-Plex-Version:
      - 4.17.1
    method: PUT
    uri: https://discover.provider.plex.tv/actions/addToWatchlist?ratingKey=5d776ca79ab544002151945c
  response:
    body:
      string: <?xml version="1.0"?><MediaContainer size="0"/>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - W/"2f-YbDylU+ETaVctM/AYzE3u53kgZE"
      Origin-Agent-Cluster:
      - ?1
      X-Plex-Timestamp:
      - '1759202160'
      X-Plex-Version:
      - 51533c39fed0360efd3fc9f6629df0dc65a6db14
      X-Response-Time:
      - '38.099'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - 8VgBu[...]
[...]
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - 8VgBu[...]
