interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apibay.org/precompiled/data_top100_48h.json
  response:
    body:
      string: '[{"id":81894147,"info_hash":"2E1DFBC06C271E4C1609349483676896C83ADD27","category":208,"name":"The
        Pitt S02E03 1080p WEB h264-ETHEL","status":"vip","num_files":0,"size":2992531863,"seeders":5974,"leechers":1917,"username":"jajaja","added":1769134801,"anon":0,"imdb":"tt31938062"},{"id":81894258,"info_hash":"F84E0D7107138D334AD26EE2FE3C09195A1E25A4","category":208,"name":"The
        Pitt S02E03 1080p HEVC x265-MeGusta","status":"vip","num_files":0,"size":607808581,"seeders":2049,"leechers":1627,"username":"jajaja","added":1769135701,"anon":0,"imdb":"tt31938062"},{"id":81884772,"info_hash":"DCF54FED9BB8DB0E36EBD9C9EA2EBE0E398D3226","category":208,"name":"Star
        Trek Starfleet Academy S01E03 1080p HEVC x265-MeGusta","status":"vip","num_files":0,"size":9[...]
