interactions:
- request:
    body: ''
    headers:
    method: POST
    uri: https://api.telegram.org/bot7617087239:AAGUy118YHbBvGNwkDo4CDehF4gFgXq2ZqE/getMe
  response:
    body:
      string: '{"ok":true,"result":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot","can_join_groups":true,"can_read_all_group_messages":false,"supports_inline_queries":false,"can_connect_to_business":false,"has_main_web_app":false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: chat_id=-4882300333&text=message&link_preview_options=%7B%22is_disabled%22%3A+false%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.telegram.org/bot7617087239:AAGUy118YHbBvGNwkDo4CDehF4gFgXq2ZqE/sendMessage
  response:
    body:
      string: '{"ok":false,"error_code":400,"description":"Bad Request: group chat
        was upgraded to a supergroup chat","parameters":{"migrate_to_chat_id":-1002541595015}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: chat_id=-1002541595015&text=message&link_preview_options=%7B%22is_disabled%22%3A+false%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.telegram.org/bot7617087239:AAGUy118YHbBvGNwkDo4CDehF4gFgXq2ZqE/sendMessage
  response:
    body:
      string: '{"ok":true,"result":{"message_id":3,"from":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"},"chat":{"id":-1002541595015,"title":"ferdcszfesd","username":"fdafafvcefrvgrgvf","type":"supergroup"},"date":1750737310,"text":"message"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: offset=0&limit=100
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.telegram.org/bot7617087239:AAGUy118YHbBvGNwkDo4CDehF4gFgXq2ZqE/getUpdates
  response:
    body:
      string: '{"ok":true,"result":[{"update_id":251886145,

        "my_chat_member":{"chat":{"id":1394032416,"first_name":"o","last_name":"0","username":"chehxlpp","type":"private"},"from":{"id":1394032416,"is_bot":false,"first_name":"o","last_name":"0","username":"chehxlpp","language_code":"zh-hans"},"date":1750736719,"old_chat_member":{"user":{"id":7617087239,"is_bot":true,"first_name":"lk","username":"dddxgggfx_bot"},"status":"kicked","until_date":0},"new_chat_member":{"user":{"id":7617087239,"is_bot":true,"first_name":"lk","username":"dddxgggfx_bot"},"status":"member"}}},{"update_id":251886146,

        "message":{"message_id":39,"from":{"id":1394032416,"is_bot":false,"first_name":"o","last_name":"0","username":"chehxlpp","language_code":"zh-hans"},"chat":{"id":1394032416,"first_name":"o","last_name":"0","username":"chehxlpp","type":"private"},"date":1750736720,"text":"/start","entities":[{"offset":0,"length":6,"type":"bot_command"}]}},{"update_id":251886147,

        "message":{"message_id":40,"from":{"id":1394032416,"is_bot":false,"first_name":"o","last_name":"0","username":"chehxlpp","language_code":"zh-hans"},"chat":{"id":1394032416,"first_name":"o","last_name":"0","username":"chehxlpp","type":"private"},"date":1750736798,"text":"d"}},{"update_id":251886148,

        "my_chat_member":{"chat":{"id":-1002410457412,"title":"avcdafdz","username":"dwesxerfedws","type":"supergroup"},"from":{"id":1394032416,"is_bot":false,"first_name":"o","last_name":"0","username":"chehxlpp","language_code":"zh-hans"},"date":1750736921,"old_chat_member":{"user":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"},"status":"left"},"new_chat_member":{"user":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"},"status":"member"}}},{"update_id":251886149,

        "message":{"message_id":2,"from":{"id":1394032416,"is_bot":false,"first_name":"o","last_name":"0","username":"chehxlpp","language_code":"zh-hans"},"chat":{"id":-1002410457412,"title":"avcdafdz","username":"dwesxerfedws","type":"supergroup"},"date":1750736921,"new_chat_participant":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"},"new_chat_member":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"},"new_chat_members":[{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"}]}},{"update_id":251886150,

        "my_chat_member":{"chat":{"id":-1002410457412,"title":"avcdafdz","username":"dwesxerfedws","type":"supergroup"},"from":{"id":1087968824,"is_bot":true,"first_name":"Group","username":"GroupAnonymousBot"},"date":1750736987,"old_chat_member":{"user":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"},"status":"member"},"new_chat_member":{"user":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"},"status":"left"}}},{"update_id":251886151,

        "my_chat_member":{"chat":{"id":-4929487028,"title":"afdfdz","type":"group","all_members_are_administrators":true,"accepted_gift_types":{"unlimited_gifts":false,"limited_gifts":false,"unique_gifts":false,"premium_subscription":false}},"from":{"id":1394032416,"is_bot":false,"first_name":"o","last_name":"0","username":"chehxlpp","language_code":"zh-hans"},"date":1750737004,"old_chat_member":{"user":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"},"status":"left"},"new_chat_member":{"user":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"},"status":"member"}}},{"update_id":251886152,

        "message":{"message_id":41,"from":{"id":1394032416,"is_bot":false,"first_name":"o","last_name":"0","username":"chehxlpp","language_code":"zh-hans"},"chat":{"id":-4929487028,"title":"afdfdz","type":"group","all_members_are_administrators":true,"accepted_gift_types":{"unlimited_gifts":false,"limited_gifts":false,"unique_gifts":false,"premium_subscription":false}},"date":1750737004,"group_chat_created":true}},{"update_id":251886153,

        "my_chat_member":{"chat":{"id":-1002727576573,"title":"afdfdz","type":"supergroup"},"from":{"id":1394032416,"is_bot":false,"first_name":"o","last_name":"0","username":"chehxlpp","language_code":"zh-hans"},"date":1750737018,"old_chat_member":{"user":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"},"status":"left"},"new_chat_member":{"user":{"id":7617087239,"is_bot":true,"first_name":"aazzc","username":"dddxgggfx_bot"},"status":"member"}}},{"update_id":251886154,

        "message":{"message_id":1,"from":{"id":1087968824,"is_bot":true,"first_name":"Group","username":"GroupAnonymousBot"},"sender_chat":{"id":-1002727576573,"title":"afdfdz","type":"supergroup"},"chat":{"id":-1002727576573,"title":"afdfdz","type":"supergroup"},"date":1750737018,"migrate_from_chat_id":-4929487028}},{"update_id":251886155,

        "message":{"message_id":42,"from":{"id":1394032416,"is_bot":false,"first_name":"o","last_name":"0","username":"chehxlpp","language_code":"zh-hans"},"chat":{"id":-4929487028,"title":"afdfdz","type":"group","all_members_are_administrators":false,"accepted_gift_types":{"unlimited_gifts":false,"limited_gifts":false,"unique_gifts":false,"premium_subscription":false}},"date":1750737018,"migrate_to_chat_id":-1002727576573}},{"update_id":251886156,

       [...]
