.pagination-group {
    > .md-button {
        font-size: 16px;
        margin: 20px 0;
        padding: 3px 15px 3px 15px;
        color: rgb(49, 46, 46);
        background-color: rgba(224, 224, 224, 0.96);
        text-transform: none;
        font-weight: 400;
        min-width:50px;
        max-width: 50px;
    }

    > .md-button.left {
        border-radius: 10px 0 0 10px;
        border-right: 1px solid rgba(0, 0, 0, 0.26);
    }

    > .md-button.middle {
        border-radius: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.26);
    }

    > .md-button.right {
        border-radius: 0 10px 10px 0;
    }

    .md-button:not([disabled]):hover {
        background-color: rgba(193, 193, 193, 0.96);
        color: $flexget-orange;
        transition: 0.3s;
    }
}

