// Overrides
$icon-font-path: "/ui/vendor/fonts";
$fa-font-path: "/ui/vendor/fonts";  // Font-awesome override

// Flexget Variables
$header-image: "/ui/images/header.png";

// Colors
$flexget-orange: #FF9800 !default;
$flexget-blue: #0091EA !default;
$flexget-red: #F44336 !default;

$brand-primary: $flexget-orange;
$spinkit-spinner-color: $flexget-orange;