<md-content layout-xs="column" layout="row" flex>
    <div layout="column" flex flex-gt-sm="50" flex-offset-gt-sm="25">
        <md-card>
            <md-card-header palette-background="orange:600">
                <md-card-header-text>
                    <span class="md-title">Flexget Web Interface</span>
                    <span class="md-subhead">Under Development</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    The interface is not yet ready for end users. Consider this preview only state.
                </p>

                <p>
                    If you still use it anyways, please do report back to us how well it works, issues, ideas etc..
                </p>

                <p>
                    We also do really require more man-power to develop webui further. Please join the effort if you know AngularJs or Python!
                </p>
                <p>
                    There is a functional API with documentation available at <a href="/api">/api</a>
                </p>

                <p><a href="http://flexget.com/wiki/Web-UI">http://flexget.com/wiki/Web-UI</a></p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-icon-button" aria-label="GitHub" href="http://github.com/Flexget/Flexget" target="_blank">
                    <md-icon class="md-icon fa fa-github"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Flexget.com" href="http://flexget.com" target="_blank">
                    <md-icon class="md-icon fa fa-home"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Forum" href="http://discuss.flexget.com/" target="_blank">
                    <md-icon class="md-icon fa fa-forumbee"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>