<div layout="row" layout-align="center start" flex>
    <flex-widget title="Flexget WebUI" content-padding title-background="orange:600">
        <div>
            <p>
                The interface is not yet ready for end users. Consider this preview only state.
            </p>

            <p>
                If you still use it anyways, please do report back to us how well it works, does it
                leak memory etc.
            </p>

            <p>
                We also do really require more man-power to develop webui further. Please join the effort!
            </p>

            <p><a href="http://flexget.com/wiki/Web-UI">http://flexget.com/wiki/Web-UI</a></p>
        </div>
    </flex-widget>
</div>