// Core
@import "variables";
@import "header";
// Components
@import "../components/sidenav/sidenav";
@import "../components/widget/widget";
@import "../components/authentication/authentication";

.text-lightgrey {
  color: #B8B8B8;
}

.text-white {
  color: white;
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
}

#content {
  background: #E6E6E6;
}

md-content.md-default-theme, md-content {
  background: #E6E6E6;
}