{
  "presets": [
    [ "latest", {
      "loose": true,
      "modules": false
    }],
    "stage-0",
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
      ]
    }
  }
}
