body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.text-lightgrey {
    color: #B8B8B8;
}

.text-white {
    color: white;
}

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
}


/* Top Toolbar */
.admin-toolbar md-icon {
    color: white;
    font-size: 20px;
}

.admin-toolbar {
    max-height: 50px;
    min-height: 50px;
    -webkit-transition: width 2s, height 4s !important; /* Safari */
    transition: width 2s, height 4s;

}

.admin-toolbar md-menu {
    padding: 0px;
}


/* Side Nav Menu */
md-sidenav.nav-menu {
    min-width: 190px;
    max-width: 190px;
    background-color: #222d32;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.nav-menu md-list-item.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226;
}

md-list-item {
    min-height: 20px;
}

.nav-menu md-list {
    padding-top: 0;
}

.nav-menu .md-button {
    border-left: 3px solid transparent;
    color: #b8c7ce;
    padding: 12px 5px 12px 15px;
    margin: 0;
    text-align: left;
    line-height: 20px;
    text-transform: none;
    border-radius: 0;
}

.nav-menu .md-button:hover {
    color: #fff;
    background: #1e282c;
    border-left-color: #f39c12;
}

.nav-menu .md-button > md-icon {
    width: 20px;
    height: inherit;
    color: #b8c7ce;
}

.nav-menu .logo {
    background: #222D32 url(/ui/static/img/header.png) no-repeat center !important;
    background-size: 175px !important;
    max-height: 50px;
    min-height: 50px;
    padding: 5px;
}

/* Side Nav Mini */
md-sidenav.nav-menu-mini {
    width: 50px !important;
    min-width: 50px !important;
    max-width: 50px !important;
}

.nav-menu-mini md-list-item.header {
    display: none;
}

.nav-menu-mini md-list-item span {
    display: none;
}

.nav-menu-mini md-list-item span:hover {
    display: block;
}

.nav-menu-mini .logo {
     background-size: 240px !important;
}