form.simple fieldset
{
    border: 1px solid #3394C1;
    width: 19em;
    padding: 1em;
    background-color: #0079B2;
    -moz-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;
}

form.simple legend
{
    color: #fff;
    background: #FF702E;
    border: 1px solid #FFF;
    padding: 2px 6px;
    font-weight: bold;
    -moz-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;
}

form.simple label
{
    width: 4em;
    margin-right: 0.5em;
    display: block;
    color: #fff;
    margin-top: 0.15em;
    margin-bottom: 0.5em;
}

form.simple .submit input
{
    margin-left: 4.5em;
}

form.simple input
{
    -moz-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;
    padding: 0.15em;
    color: #fff;
    background: #000;
    border: 1px solid #000;
}

form.simple input:focus
{
    -moz-box-shadow: 0 0 8px #fff;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
}

form.simple div.buttons
{
    text-align: center;
    margin-top: 1em;
}
