/*

FlexGet webui layout

NOTE: This shouldn't contain any plugin specific styles, only generic ones

*/

* {margin: 0; padding: 0;}

/* display scrollbar always */
html {
    overflow-y: scroll;
}

#container {
    margin: 0 auto;
    width: 100%;
    min-width: 800px;
    max-width: 1200px;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;

}

#layout {
    background: url('/static/img/construction.png') repeat-x;
    padding: 0 20px;
}

p {
    margin-bottom: 0.8em;
}

a {
    color: #0079B2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: url('/static/img/background.gif');
    font-size: 13px;
    font-family: Arial, SunSans-Regular, Sans-Serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 1em;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 1em;
}

h3 {
    font-size: 14px;
}

#content-container {
    float: left;
    width: 100%;

    background: #fff url('/static/img/menu.png') repeat-y;
}

#menu {
    display:block;
    position: relative;
    float: left;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding-bottom:1px;
    overflow: hidden;
}

#main {
    left: 200px;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding:10px;
}

#header
{
    height: 80px;
    background: #fff url('/static/img/FlexGet.png') no-repeat 50% 10px;
}

#footer
{
    clear: left;
    background: #FF702E;
    text-align: right;
    height: 0.5em;
    margin-bottom: 2em;
}

/* flash messaging */

#flash {
    background: #FEA662;
    padding: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

#flash ul {
}

#flash ul li { /* fallback when without category */
    margin-left: 1.2em;
}

#flash ul li.error {
    padding-left: 1.8em;
    background: url('/static/img/fatcow-icons/16x16/exclamation.png') no-repeat;
    list-style: none;
}

#flash ul li.info {
    padding-left: 1.8em;
    background: url('/static/img/fatcow-icons/16x16/information.png') no-repeat;
    list-style: none;
}

#flash ul li.success {
    padding-left: 1.8em;
    background: url('/static/img/fatcow-icons/16x16/accept.png') no-repeat;
    list-style: none;
}

#flash ul li.delete {
    padding-left: 1.8em;
    background: url('/static/img/fatcow-icons/16x16/delete.png') no-repeat;
    list-style: none;
}

/* help box */

div.help {
    margin-top: 0.75em;
    border: 1px solid #444;
    width: 25em;
    padding: 1em;
    background-color: #222;
    -moz-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;
    color: white;
}

div.help p:last-child {
    margin-bottom: 0;
}

/* jQuery tools */

.tooltip {
    display:none;
    background:transparent url(/static/img/tooltip/black_arrow.png);
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#fff;
}


/* search results */

table.search-results {
    border: 0 none gray;
    border-spacing: 1px;
    border-collapse: separate;
	background-color: white;
    width: 100%;
}
table.search-results th {
    border: 0 none gray;
    padding: 3px;
    background-color: #000;
    color: #fff;
    text-align: left;
}
table.search-results tr.odd td {
    border: 0 none gray;
    padding: 3px;
    background-color: #ccc;
}

table.search-results tr.even td {
    border: 0 none gray;
    padding: 3px;
    background-color: #bbb;
}
