/* main navigation */

ul#navbar {
    width: 100%;
    height: 43px;
    background: #FFF url("/static/img/menu-bg.gif") top left repeat-x;
    font-size: 0.8em;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#navbar li {
    display: block;
    float: left;
    margin: 0 0 0 5px;
}

ul#navbar li a {
    font-size: 11px;
    height: 35px;
    color: #777;
    background-color: transparent;
    text-decoration: none;
    display: block;
    float: left;
    line-height: 200%;
    padding: 8px 15px 0;
}

ul#navbar li a:hover {
    color: #333;
}

ul#navbar li a.current {
    color: #FFF;
    background: #FFF url("/static/img/current-bg.gif") top left repeat-x;
    padding: 5px 15px 0;
}

/* left menu */

#menu {
    font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
    border-right: 1px solid #000;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

#menu li {
    border-bottom: 1px solid #000;
    margin: 0;
}

#menu li div.item {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #222;
    background-color: #444;
}

#menu li div.item a {
    color: #fff;
    text-decoration: none;
}
#menu li div.item.selected
{
    border-left: 10px solid #FF702E;
    background-color: #666;
}

#menu li div.item:hover {
    border-left: 10px solid #FF702E;
    background-color: #0079B2;
}

#menu li div.item div.actions {
    float: right;
    display: none;
}

/* category menu */

#cat dt div {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-bottom: 1px solid #000;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.expand {
    background: url('/static/img/fatcow-icons/32x32/bullet_toggle_plus.png') 0 no-repeat;
    padding-left: 2.5em !important;
}

.collapse {
    background: url('/static/img/fatcow-icons/32x32/bullet_toggle_minus.png') 0 no-repeat;
    padding-left: 2.5em !important;
}
