<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <style type="text/css">
body {
    background: #000;
    font-family: Tahoma;
}

div#main {
    margin:0px auto 0px auto;
    width:780px;
}

/* MOVIE */


/* SERIES */

div.series, div.movie, div.other {
    border: 2px solid #FE7C32;
    margin-bottom: 0.5em;
    padding: 0.5em;
    -moz-border-radius: 5px;
    background: #fff;
}

div.series h1, div.movie h1, div.other h1 {
    margin: 0;
}

div.series div.banner {
    text-align:center;
}

div.series div.basic {
    padding: 0.5em;
    background: #E0E0E0;

}

div.season_ep {
    float: right;
}

div.ep_name {
    float: left;
    font-weight: bold;
}

div.ep_rating {
   float: left;
}

div.ep_director {
    float: right;
}

div.details-button {
    text-align: center;
}

div.actors, div.genres, div.overview {
    background: #F7F7F7;
    padding: 0.4em;
}

div.actors, div.genres, div.overview {
    font-size: 0.9em;
}

div.actors h2, div.genres h2, div.overview h2
{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #366D9C;
}

div.overview p {
    padding: 0;
    margin: 0;
}

div.actors ul {
    list-style: none; margin: 0; padding: 0;
}

div.actors ul li {
    display: inline;
}

div.actors li:after {
    content: ",";
}

div.actors li:last-child:after {
    content: "";
}

div.genres ul {
    list-style: none; margin: 0; padding: 0;
}

div.genres ul li {
    display: inline;
}

div.genres li:after {
    content: ",";
}

div.genres li:last-child:after {
    content: "";
}

a {
    color: #366D9C;
}

a:hover {
    color: #f00;
}

div.clear {
    clearing: both;
}
        </style>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>FlexGet</title>
    </head>

    <body>

    <script type="text/javascript">
        function toggle_visibility(c_id, id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
           var c = document.getElementById(c_id);
           c.style.display = 'none';
        }
    </script>


    <div id="main">
    #for $entry in $accepted
        <!-- HANDLE SERIES -->
        #if 'series_name' in $entry
            <div class="series">

                #if 'series_banner_url' in $entry:
                    <div class="banner">
                        <img src="$entry.series_banner_url">
                    </div>
                #else
                    <h1>$entry.series_name</h1>
                #end if

                <div class="basic">
                    #if 'ep_name' in $entry:
                        <div class="ep_name">$entry.ep_name</div>
                    #end if

                    #if 'series_episode' in $entry and 'series_season' in $entry:
                        <div class="season_ep">
                            Season: $entry.series_season Episode: $entry.series_episode
                        </div>
                    #end if

                    <div class="clear">&nbsp;</div>

                    #if 'ep_rating' in $entry:
                        <div class="ep_rating">Rating: $entry.ep_rating</div>
                    #end if

                    #if 'series_status' in $entry:
                        <!--
                        <div class="series_status">Status: $entry.series_status</div>
                        -->
                    #end if

                    #if 'ep_director' in $entry:
                        <div class="ep_director">Director: $entry.ep_director</div>
                    #end if

                    <div class="clear">&nbsp;</div>
                </div>

                #if 'ep_overview' in $entry
                    <div class="overview">
                        <h2>Overview</h2>
                        <p>$entry.ep_overview</p>
                    </div>
                #end if

                <div class="details-button">
                    <div id="js-$entry.uid">
                        <a href="#a-$entry.uid" onclick="toggle_visibility('js-$entry.uid', 'info-$entry.uid');">More</a>
                    </div>
                </div>

                <div id="info-$entry.uid" style="display: none;">
                    <!-- a hack to keep browser from reseting position to top when clicking the Details link -->
                    <a name="a-$entry.uid" style="display:none;">&nbsp;</a>

                    #if 'series_genres' in $entry
                        <div class="genres">
                            <h2>Genres</h2>
                            <ul>
                            #for $genre in $entry.series_genres:
                                <li>$genre</li>
                            #end for
                            </ul>
                        </div>
                    #end if

                    #if 'series_actors' in $entry
                        <div class="actors">
                            <h2>Actors</h2>
                            <ul>
                            #for $actor in $entry.series_actors:
                                <li>$actor</li>
                            #end for
                            </ul>
                        </div>
                    #end if

                    #if 'ep_guest_stars' in $entry
                        <div class="actors">
                            <h2>Guest stars</h2>
                            <ul>
                            #for $actor in $entry.ep_guest_stars:
                                <li>$actor</li>
                            #end for
                            </ul>
                        </div>
                    #end if

                </div>

            </div>

        <!-- HANDLE MOVIES -->
        #else if 'imdb_url' in $entry
            <div class="movie">
            <h1>$entry.title</h1>

            #if 'imdb_score' in $entry
                Score: #echo "%.1f" % $entry.imdb_score
            #end if

            #if 'imdb_votes' in $entry
                Votes: $entry.imdb_votes
            #end if

            #if 'imdb_plot_outline' in $entry
                <div class="overview">
                    <h2>Plot</h2>
                    $entry.imdb_plot_outline
                </div>
            #end if

            #if 'imdb_genres' in $entry
                <div class="genres">
                    <h2>Genres</h2>
                    <ul>
                    #for $genre in $entry.imdb_genres:
                        <li>$genre</li>
                    #end for
                    </ul>
                </div>
            #end if

            #if 'imdb_actors' in $entry
                <div class="actors">
                    <h2>Actors</h2>
                    <ul>
                    #for $imdbid, $actor in $entry.imdb_actors.items():
                        <li><a href="http://www.imdb.com/name/$imdbid">$actor</a></li>
                    #end for
                    </ul>
                </div>
            #end if


            </div>
        #else
            <div class="other">
            $entry.title
            </div>
        #end if

      #end for
      </div>

    </body>
</html>
