{% if task.aborted -%}
Task '{{task.name}}' was aborted because: {{task.abort_reason}}

{% endif -%}
{% if task.failed -%}
The following entries have failed for task {{task.name}}:
{%- for entry in task.failed %}
- {{entry.title}} ({{entry.url}}) Reason: {{entry.reason|d('unknown')}}
{% endfor %}
{% endif %}
