{% extends "layout.html" %}
{% block main %}

<h1>Archive</h1>

{% if count == 0 %}
    <div class="warning">
        <p>Your archive seems to be empty. To use archive feature you need to have feeds which have archive plugin enabled.</p>
    </div>
{% else %}
    <p>There are currently <b>{{ count }}</b> items in the archive</p>
{% endif %}

<div>
    <h2>Search results:</h2>

    <form action="/archive/inject" method="post">
        <table class="search-results">
            <tr>
                <th style="width: 1em;">&nbsp</th>
                <th>Name</th>
                <th>Description</th>
                <th>Added</th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Mock</td>
                <td>Description of the item, this comes from the rss etc</td>
                <td>01-01-2010</td>
            </tr>
        </table>
        <div>
            <button type="submit" id="inject selected">Inject</button>
        </div>
    </form>
</div>

<form action="/archive" method="post" class="search">
    <div>
        <label for="keyword">Search</label>
        <input type="text" id="keyword" name="keyword" value="">
    </div>
    <div>
        <button type="submit" id="submit">Submit</button>
    </div>
</form>

{% endblock %}