{% extends "layout.html" %}

{% block main %}

    {% block configure %}
    <h1>Configure</h1>
    <p>Please select feed to configure</p>
    {% endblock %}

{% endblock %}

{% block menu %}

<dl id="cat">
    {% for category in manager.config.iterkeys() %}
    <dt><div>{{ category }}</div></dt>
    <dd>
        <ul>
            {% for name in manager.config[category].iterkeys() %}
                <li>
                    <div class="item">
                        <a href="/configure/edit/text/{{ category }}/{{ name }}">{{ name }}</a>
                        <div class="actions">
                            <a href="/configure/delete/{{ category }}/{{ name }}"><img src="/static/img/fatcow-icons/16x16/delete.png" alt="Delete"/></a>
                        </div>
                    </div>
                </li>
            {% endfor %}
            <li class="new">
                <div class="item">
                    <a href="">Create new</a>
                </div>
            </li>
        </ul>
    </dd>
    {% endfor %}
</dl>

{% endblock %}