{% extends "configure.html" %}
{% block configure %}
    <script type="text/javascript">
        $(function (){
            $('#name_input').hide();
        });
        function edit_name(){
            $('#name_label').replaceWith($('#edit_input'));
            $('#name_input').show();
        }
    </script>
    <form action="" method="post">
        <h1>Edit {{ config_type|capitalize }}</h1>
        <h2 id="name_label">{{ name }}
        <img onclick="edit_name()" src="{{ url_for('.static', filename='img/fatcow-icons/16x16/script_edit.png') }}"
             alt="Edit Name"></h2>
        <input id="name_input" type="text" name="name" value="{{ name }}" style="font-size: 18px;">
        <p>Fully UI-based editing will be implemented later</p>

        <textarea name="config" cols=80 rows=25 spellcheck="false" wrap="off">{{ config }}</textarea>
        <div>
            <button type="submit" id="submit">Submit</button>
        </div>
    </form>
{% endblock %}
