{% extends "configure.html" %}
{% block configure %}
    <form action="" method="post">
        <h1>Edit {{ config_type }}</h1>
        <h2 id="name">{{ name|default('new') }}<img src="/static/img/fatcow-icons/16x16/script_edit.png" alt="Edit Name"></h2>
        <input type="text" name="name" value="{{ name }}">
        <p>Fully UI-based editing will be implemented later</p>

        <textarea name="config" cols=80 rows=25 spellcheck="false" wrap="off">{{ config }}</textarea>
        <div>
            <button type="submit" id="submit">Submit</button>
        </div>
    </form>
{% endblock %}
