{% extends "layout.html" %}

{% block head %}
    {% if execute_progress %}
    <script type="application/javascript">
        function update_progress() {

            var progress = $('#progress');
            var timer;

            $.getJSON('/execute/progress.json', function(data) {
                $.each(data.items, function(key, value) {
                    if (value == "EOF") {
                        clearTimeout(timer);
                    } else {
                        progress.append('<li><pre>' + value + '</pre></li>');
                        progress.attr({ scrollTop: progress.attr("scrollHeight") });
                    }
                });
            });
            var timer = window.setTimeout('update_progress()', 1000);
        }
        $(document).ready(update_progress);
    </script>
    {% endif %}
{% endblock %}

{% block main %}
<form action="{{ url_for('index') }}" method="post" class="simple">
    <fieldset style="width:26em">
        <legend>Execute FlexGet</legend>
        <div>
            <label for="options">Options</label>
            <input type="text" id="options" name="options" value="{{ options }}" size="50">
        </div>
        <div class="buttons">
            <button type="submit">Start Execution</button>
        </div>
    </fieldset>
</form>
<div>
    <ul id="progress">
        {% if progress %}
        {% for item in progress %}
        <li><pre>{{ item }}</pre></li>
        {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}
