{% extends "layout.html" %}
{% block main %}

    <h1>FlexGet WEB-UI</h1>

    <p>
    Hi there, this is very early user interface prototype!
    </p>

    <div style="text-align: center;">
        <div style="background: #FD9752; height: 2.5em; padding: 1em;">
            <img src="/static/img/fatcow-icons/32x32/exclamation.png" style="float: left"/>
            <div style="float: left; font-size: 16pt; margin-left: 1em; margin-top: 0.1em;">The interface is not yet ready for end users. Consider this preview only state.</div>
        </div>
    </div>

{% endblock %}