{% extends "layout.html" %}
{% block content %}

<h1>FlexGet WEB-UI</h1>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris molestie
adipiscing pharetra. Donec bibendum eleifend tortor, eget fermentum mauris
sodales a. Ut interdum dignissim ornare. In vitae mi augue. Aenean ultricies
ultrices arcu, quis auctor odio cursus vel. Sed aliquam arcu in erat
ultrices vehicula. Maecenas sed ligula ligula, vel pellentesque est. Nulla
eu ligula felis. Donec fermentum euismod facilisis. Aenean aliquet arcu ut
odio tempor a interdum justo dictum. Donec molestie, velit vitae laoreet
tempus, nisl quam sollicitudin lectus, a blandit quam ante ut ante. Aenean
leo mi, egestas ut ornare eget, tristique rhoncus elit. Lorem ipsum dolor
sit amet, consectetur adipiscing elit. Vestibulum tempus dolor dolor, id
tristique urna. Nam hendrerit odio vitae lorem ultrices eu cursus ipsum
aliquet. Donec eu felis ut ante vestibulum vestibulum vel vel odio.
</p>

{% endblock %}