{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/ui.jqgrid.css" type="text/css" media="screen"/>
    <script type="text/javascript" src="/static/js/grid.locale-en.js"></script>
    <script type="text/javascript" src="/static/js/jquery.jqGrid.min.js"></script>
    <style type="text/css">
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
        }

    </style>
{% endblock %}

{% block main %}

<script type=text/javascript>
    $(function(){
        $("#logarea").jqGrid({
            url:"{{ url_for('get_logdata') }}",
            datatype: 'json',
            mtype: 'GET',
            postData: {
                log_type:  function () {return $("input[name='log_type']:checked").val();},
                feed:  function () {return $("#feedlist > li > a.selected").attr('id')},
                exec: function () {return $("#execlist > li > a.selected").attr('id')}
            },
            colNames: ['Date','Level','Logger', 'Feed', 'Message'],
            colModel: [
                {name:'created', width:150, align: 'right'},
                {name:'levelno', width:65, sortable: false},
                {name:'logger', width:100, sortable: false},
                {name:'feed', width:100, sortable: false},
                {name:'message', width:900, sortable: false}
            ],
            pager: '#pager',
            autowidth: true,
            height: 500,
            width: 700,
            scroll: 1,
            rowNum: 50,
            sortname: 'created',
            sortorder: 'desc',
            viewrecords: true,
            caption: 'Log viewer',
            jsonReader: {
                root: 'rows',
                page: 'page',
                total: 'total',
                records: 'records',
                repeatitems: false,
                id: "id"
            },
            prmNames: {
                npages: 'npages'
            }
        }).navGrid('#pager', {refresh: true, search:false, del:false, edit:false, add:false});
        $("input[name='log_type']").change(function() {
            $("#execlist > li > a").removeClass('selected')
            $("#execlist > li > a:first").addClass('selected')
            $("#feedlist > li > a").removeClass('selected')
            $("#feedlist > li > a:first").addClass('selected')
            refreshGrid();
        });
        $("#feedlist > li > a").click(function() {
            $("#feedlist > li > a").removeClass('selected');
            $(this).addClass('selected');
            $("input[name='log_type']").filter("[value='core']").attr("checked", true);
            refreshGrid();
        });
        $("#execlist > li > a").click(function() {
            $("#execlist > li > a").removeClass('selected');
            $(this).addClass('selected');
            $("input[name='log_type']").filter("[value='core']").attr("checked", true);
            refreshGrid();
        });
        function refreshGrid(){
            if ($("input[name='log_type']:checked").val() == 'webui')
                $("#logarea").hideCol("feed");
            else
                $("#logarea").showCol("feed");
            $("#logarea").trigger("reloadGrid");
        };
    });
</script>
<h1>FlexGet log messages</h1>

<p>
    <table><tr>
        <td><input type="radio" name="log_type" value="core" checked> Core </td>
        <td><input type="radio" name="log_type" value="webui"> Webui </td>
        <td><input type="radio" name="log_type" value="all"> All <br></td>
    </tr></table>
    <table id="logarea"></table>
    <div id="pager"></div>
</p>

{% endblock %}

{% block menu %}
<dl>
    <dt><div><b>Executions</b></div></dt>
    <dd>
    <ul id="execlist">
        <li><a href="#" class="selected" id="">All</a></li>
        {% for exec in menu_execs -%}
        <li><a href="#" id="{{  exec[0]  }}">{{ exec[1] }}</a></li>
        {% endfor %}
    </ul>
    </dd>
    <dt><div><b>Feeds</b></div></dt>
    <dd>
    <ul id="feedlist">
        <li><a href="#" class="selected" id="">All</a></li>
        {% for feed in menu_feeds -%}
        <li><a href="#" id="{{ feed }}">{{ feed }}</a></li>
        {% endfor %}
    </ul>
    </dd>
</dl>
{% endblock %}
