{% extends "layout.html" %}
{% block main %}

<script type=text/javascript>
    $(function(){
        $("#logarea").jqGrid({
            url:'/log/_get_logdata.json',
            datatype: 'json',
            mtype: 'GET',
            colNames: ['Date','Level','Logger','Message'],
            colModel: [
                {name:'created', width:150},
                {name:'level', width:65},
                {name:'logger', width:100},
                {name:'message', width:900}
            ],
            autowidth: true,
            height: 500,
            width: 700,
            scroll: 1,
            rowNum: 50,
            sortname: 'created',
            sortorder: 'desc',
            viewrecords: true,
            caption: 'Log viewer',
            jsonReader: {
                root: 'rows',
                page: 'page',
                total: 'total',
                records: 'records',
                repeatitems: false,
                id: "id"
            },
            prmNames: {
                npages: 'npages'
            }
        });
    });

</script>
<h1>FlexGet log messages</h1>

<p>
    <table id="logarea"></table>
    <div id="pager"></div>
</p>

{% endblock %}
