{% extends "layout.html" %}
{% block main %}

<script type=text/javascript>
    $(function(){
        $("#logarea").jqGrid({
            url:'/log/_get_logdata.json',
            datatype: 'json',
            mtype: 'GET',
            colNames:['Date','Level','Logger','Message'],
            colModel :[
                {name:'created', width:100},
                {name:'level', width:60},
                {name:'logger', width:80},
                {name:'message', width:300}
            ],
            pager: '#pager',
            rowNum:10,
            rowList:[10,20,30],
            sortname: 'created',
            sortorder: 'desc',
            viewrecords: true,
            caption: 'Log viewer',
            jsonReader : {
                root:"rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "id"
            }
        });
    });

</script>
<h1>FlexGet log messages</h1>

<p>
    <table id="logarea"></table>
    <div id="pager"></div>
</p>

{% endblock %}
