{% extends "layout.html" %}
{% block main %}

<h1>Schedule execution</h1>

<form action="{{ url_for('index') }}" method="post" class="simple">
    <fieldset>
        <legend>Scheduling</legend>
        <div>
            <label for="interval">Interval</label>
            <input type="text" id="interval" name="interval" value="{{ interval }}" size="10" style="text-align: right">
            <select name="unit">
                <option value="minutes" selected>minutes</option>
                <option value="hours">hours</option>
                <option value="days">days</option>
            </select>
        </div>
        <div class="buttons">
            <button type="submit">Change Interval</button>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block menu %}
<dl>
<dt><div><b>Actions</b></div></dt>
    <dd>
    <ul id="execlist">
        <li><div class="item"><a href="/log">Execution Logs</a></div></li>
    </ul>
    </dd>
</dl>
{% endblock %}
