{% extends "layout.html" %}

{% block menu %}
    <h2>Series</d2>
    {% if report %}
        <ul id="cat">
            {% for series in report %}
                <li>
                    <div class="item{% if series.name == name %} selected{% endif %}">
                        <a href="/series/{{ series.name }}">{{ series.name|title }}</a>
                    </div>
                </li>
            {% endfor %}    
        </ul>
    {% else %}
        <p>No series catalogued.</p>
    {% endif %}
    
{% endblock %}

{% block main %}
   
    {% if name %}
        <h1>{{ name|title }}</h1>
        <ul id="episodes">
        {% for episode in episodes %}
            <li class="identifier">
                <h4>{{ episode.identifier }}</h4>
                <ul class="episode-files">
                    {% for release in episode.releases %}
                        <li{% if release.downloaded %} class="downloaded"{% endif %}>
                            {{ release.title }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h1>Latest</h1>
        <ul id="episodes" class="episode-files">
            {% for release in releases %}
                <li class="{% if release.downloaded %}downloaded{% endif %}{{ loop.cycle('', ' episode-box') }}">
                    {{ release.title }}<br />
                    <span style="color:#999;font-size:10px;">{{ release.episode.first_seen }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


