<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= htmlWebpackPlugin.options.base %>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title><%= htmlWebpackPlugin.options.title %></title>
   <!-- material-ui -->
</head>
<body>
  <div id="react" />
</body>
</html>
