name: Changelog Update

on:
  push:
    branches:
      - develop

permissions: {}

jobs:
  update-changelog:
    name: Update Changelog
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: '3.13' # renovate: datasource=python-version depName=python
      UV_VERSION: 0.7.3 # renovate: datasource=pypi depName=uv
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Checkout wiki repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          repository: Flexget/wiki
          path: wiki
          token: ${{ secrets.flexgetbot_pat }}
          persist-credentials: true
          ref: main
      - name: Setup Git User
        run: |
          git config --global user.email github-actions[bot]@users.noreply.github.com
          git config --global user.name github-actions[bot]
      - name: Install uv and Python
        uses: astral-sh/setup-uv@f0ec1fc3b38f5e7cd731bb6ce540c5af426746bb # v6
        with:
          enable-cache: true
          python-version: ${{ env.PYTHON_VERSION }}
          version: ${{ env.UV_VERSION }}
      - name: Update the Changelog
        run: |
          set -x
          uv run scripts/update_changelog.py wiki/ChangeLog.md
          cd wiki
          git add ChangeLog.md
          if ! git diff --cached --exit-code; then
              git commit -m "Automated ChangeLog update"
              git push origin main
          fi
