name: Trigger Deploy

on:
  schedule:
    - cron: 0 15 * * *
  workflow_dispatch: {}

permissions: {}

jobs:
  deploy:
    permissions:
      contents: read # to fetch code (actions/checkout)
      deployments: write # to create deployment

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
      - uses: actions/github-script@v7
        name: Create Deployment
        with:
          github-token: ${{ secrets.flexgetbot_pat }}
          script: |
            await github.rest.repos.createDeployment({
              ...context.repo,
              ref: context.ref.slice(11),
            });
