name: No PRs to Master

on:
  pull_request:
    branches:
      - 'master'

permissions:
  contents: read

jobs:
  fail:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    name: Please make them to develop
    steps:
      - name: No PRs to master, please make them to develop
        run: |
          echo "::error::No PRs should be made against master"
          exit 1
